<section class="banner">
  <div class="bannerMedia"></div>
  <div class="bannerText reveal">Contact Us</div>
</section>

<section class="section">
  <div class="container">
    <div class="locGrid">
      <div class="loc reveal">
        <h4>Custom Request</h4>
        <p>
          Send Us a Message:<br/>
          Email: <a href="mailto:bajaworksco@gmail.com">bajaworksco@gmail.com</a>
        </p>
      </div>

      <div class="loc reveal">
        <h4>Hours</h4>
        <p>
          Mon–Fri: 6am–5pm<br/>
          Sat: 10am-5pm<br/>
          Sun: Closed
        </p>
      </div>
    </div>
  </div>
</section>
